.main{
  position: absolute;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: #60cbf236;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.container {
    width: 30vw;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    /* margin: 10%; */
    position: relative;
  }
  .close{
    position: absolute;
    top: 2%;
    right: 5%;
    color: #60ccf2;
    font-size: 1vw;
    background: none;
    border: none;
    cursor: pointer;
  }
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 2vw;
    /* color: rgb(16, 137, 211); */
    color: black;
  }
  
  .form {
    margin-top: 10%;
  }
  
  .form .input {
    width: 100%;
    height: 50px;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 8%;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid black;
    cursor:text;
    font-size: .9vw;
    transition-duration: 1s;
  }
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input:focus {
    outline: none;
    border-inline: 2px solid #60ccf2;
    box-shadow: gray 0px 10px 10px -5px;

  }
  
  .form .forgot_password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    transition-duration: .5s;
    font-size: 11px;
    color: #60ccf2;
    text-decoration: none;
  }
  
  .form .login_button {
    display: block;
    width: 100%;
    font-weight: bold;
    color: white;
    padding-block: 15px;
    margin: 8% auto;
    border-radius: 20px;
    box-shadow: rgba(128, 128, 128, 0.49) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 1vw;
    background: black;


  }
  
  .form .login_button:hover {
    transform: scale(1.03);
    box-shadow: #60ccf2 0px 23px 10px -20px;
    background: #60ccf2;

  }
  
  .form .login_button:active {
    transform: scale(0.95);
    box-shadow: #60ccf2 0px 15px 10px -10px;
  }
  
  .social_account_container {
    margin-top: 10%;
  }
  
  .social_account_container .title {
    display: block;
    text-align: center;
    font-size: 0.8vw;
    color: rgb(170, 170, 170);
  }
  
  .social_account_container .social_accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5%;
  }
  
  .social_account_container .social_accounts .social_button {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
    border: 5px solid white;
    /* padding: 1%; */
    border-radius: 50%;
    width: 60px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: #60ccf2 0px 12px 10px -8px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .social_account_container .social_accounts .social_button .svg {
    width:100%;
    height: auto;
    fill: white;
    margin: auto;
  }
  
  .social_account_container .social_accounts .social_button:hover {
    transform: scale(1.2);
  }
  
  .social_account_container .social_accounts .social_button:active {
    transform: scale(0.9);
  }
  
  .agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  
  .agreement a {
    text-decoration: none;
    color: #60ccf2;
    font-size: 9px;
  }
  .new_register{
    margin-top: 8%;
    width: 100%;
    color: #60ccf2;
    cursor: pointer;
    text-align: center;
  }
  .new_register span{
    transition-duration: .8s;
  }
  .new_register span:hover{
    color: black;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #60ccf2;
  }